.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 209, 64, 0.8),
      rgba(255, 209, 64, 0.8)
    ),
    url(../images/home-hero.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .centered-content {
    width: 620px;
    text-align: center;
    font-size: 25pt;
    color: white;

    .centered-lorem {
      font-style: italic;
    }
  }

  p {
    // margin-top: -10px;
    color: #ee4367;
    font-size: 20pt;
    height: 23px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lorem {
    color: white;
    font-size: 20pt;
    height: 100px;
    width: 560px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: last baseline;
    justify-content: center;
  }

  .read {
    color: white;
    font-size: 15pt;
    height: 40px;
    width: 120px;
    margin-left: 213px;
    margin-top: 20px;
    margin-bottom: -100px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee4367;
  }
}
